@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.redes{
  width: 100%;
}

body {
    background-color: #c2b3dd;                     
    margin: 0;
}

header{
  width: 100%;
  background: #c2b3dd;
}

#btn-menu{
  display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px
    /*border-right: 1px solid #fff;*/
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.navigation ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}

.navigation ul{
    padding: 0;
}
  
.navigation ul li{
    display: inline-block;
}
  
.navigation ul li a{
    font-family: 'Lobster';
    display: block;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 25px;
    text-decoration: none;
}
  
.navigation ul ul{
    display: none;
    position: absolute;
}
  
.navigation ul li:hover ul{
    display: block;
}
  
.navigation ul li a:hover{
    background: lightblue;
}

@media (max-width: 768px){
    header label{
        display: block;
    }

    .navigation{
        position: absolute;
        background: #c2b3dd;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .navigation ul{
        flex-direction: column;
    }

    .navigation li{
        border-top: 1px solid #000;
    }

    #btn-menu:checked ~ .navigation{
        margin: 0;
    }
}

.section-title{
  flex: 1;
  padding: 50px;
  background-color: rgba(158, 147, 147, 0.3);
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 20px;
  border-radius: 10px;
  font-family: 'Luckiest Guy', cursive;
}

.text{
  font-size: 1rem;
}



img{
  vertical-align: middle;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
  margin-left: 28rem;
  margin-right: 35rem;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #696767;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.Todo{
display: flex;
width: 100%;
height: 100vh;
padding: 4% 2%;
box-sizing: border-box;
}

/*Tamaño de todo*/
.box{
    flex: 1;
    overflow: hidden;
    margin: 8px;
    line-height: 0;
    box-shadow: 0 20px 30px rgba(155, 155, 155, 0.568);
    transition: all 2s;
}

/*Tamaño de imagenes*/
.box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: all 2s;
    align-content: center;
}

/*Decoración para el texto de abajo*/
.box > span {
    font-size: 35px;
    font-family: monospace;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.5;
}

/*Animaciones*/
.box:hover{
    flex: 50%;
}

.box:hover > img {
    width: 100%;
    height: 100%;
}


.redes a{
    text-decoration: none;
    color: #cecece;
    transition: all 1s ;
    font-size: 1.5rem;
  }
  
  .icon-instagram:hover{
    color: rgb(245, 83, 191);
  }
  
  .icon-facebook:hover{
    color:rgb(69, 30, 245);
  }
  
  .icon-twitter:hover{
    color:rgb(107, 208, 255);
  }
  
  .redes {
    margin-bottom: 1rem;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.3);
    line-height: 2rem;
  }
